<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mapping</key>
	<dict/>
	<key>ZYHomeViewController</key>
	<string>首页</string>
	<key>GoodListViewController</key>
	<string>商品列表</string>
	<key>TerminalViewController</key>
	<string>终端管理</string>
	<key>TerminalDetailViewController</key>
	<string>终端详情界面</string>
	<key>SearchTermianlViewController</key>
	<string>搜索终端</string>
	<key>UserSelectViewController</key>
	<string>选择用户界面</string>
	<key>TerminalSelectViewController</key>
	<string>选择终端</string>
	<key>AddressSelectViewController</key>
	<string>地址选择界面</string>
	<key>VideoAuthController</key>
	<string>视频认证界面</string>
	<key>AfterSellController</key>
	<string>售后记录界面</string>
	<key>CsDetailController</key>
	<string>售后详情界面</string>
	<key>AfterSellDetailController</key>
	<string>售后单详情界面</string>
	<key>CancelDetailController</key>
	<string>注销详情界面</string>
	<key>UpdateDetailController</key>
	<string>更新资料详情界面</string>
	<key>AdjustGoodsViewController</key>
	<string>调货界面</string>
	<key>TGDetailController</key>
	<string>调货详情界面</string>
	<key>PrepareGoodManagerController</key>
	<string>管理下级代理商界面</string>
	<key>PGDetailController</key>
	<string>配货详情界面</string>
	<key>TerimalChoseViewController</key>
	<string>配货选择终端界面</string>
	<key>StaffManagerController</key>
	<string>员工管理界面</string>
	<key>StaffManagerDetailController</key>
	<string>员工详情界面</string>
	<key>StaffChangeController</key>
	<string>员工信息修改界面</string>
	<key>SubAgentListController</key>
	<string>下级代理商列表界面</string>
	<key>CreateViewController</key>
	<string>创建下级代理商界面</string>
	<key>OpenProfitViewController</key>
	<string>设置分润界面</string>
	<key>NextAgentpeopeleViewController</key>
	<string>下级代理商管理界面</string>
	<key>NextAgentdetalViewController</key>
	<string>下级代理商详情界面</string>
	<key>CreateBenefitController</key>
	<string>添加分润界面</string>
	<key>EditBenefitController</key>
	<string>编辑分润界面</string>
	<key>MessageViewController</key>
	<string>信息界面</string>
	<key>MessageChildViewController</key>
	<string>信息详情界面</string>
	<key>UserManagerController</key>
	<string>用户管理界面</string>
	<key>UserManagerChildController</key>
	<string>用户终端列表界面</string>
	<key>StockManagerController</key>
	<string>库存管理界面</string>
	<key>StockManagerDetailController</key>
	<string>库存详情界面</string>
	<key>StockTerminalController</key>
	<string>库存终端列表界面</string>
	<key>IdentificationViewController</key>
	<string>开通认证界面</string>
	<key>ApplyDetailController</key>
	<string>开通申请界面</string>
	<key>MerchantSelecteViewController</key>
	<string>开通申请选择商户界面</string>
	<key>BnakSelectViewController</key>
	<string>开通申请选择银行界面</string>
	<key>LoginViewController</key>
	<string>登录界面</string>
	<key>FindPasswordSuccessController</key>
	<string>找回密码成功界面</string>
	<key>FindPasswordViewController</key>
	<string>找回密码界面</string>
	<key>FindPasswordWithPhoneSuccessController</key>
	<string>手机验证码界面</string>
	<key>RegisterViewController</key>
	<string>注册界面</string>
	<key>PhoneSuccessViewController</key>
	<string>手机注册界面</string>
	<key>EmailSuccessViewController</key>
	<string>邮箱注册界面</string>
	<key>ApplyViewController</key>
	<string>申请合作伙伴界面</string>
	<key>ApplySuccessController</key>
	<string>申请合作伙伴成功</string>
	<key>ProtocolController</key>
	<string>用户使用协议界面</string>
	<key>OrderConfirmController</key>
	<string>订单确认界面</string>
	<key>SearchViewController</key>
	<string>搜索界面</string>
	<key>FilterViewController</key>
	<string>商品筛选条件界面</string>
	<key>FilterContentViewController</key>
	<string>商品筛选内容界面</string>
	<key>GoodDetailViewController</key>
	<string>商品详情界面</string>
	<key>FactoryDetailController</key>
	<string>厂家信息界面</string>
	<key>BuyOrderViewController</key>
	<string>采购订单界面</string>
	<key>RentOrderViewController</key>
	<string>出租订单确认界面</string>
	<key>AgentRentViewController</key>
	<string>租赁订单确认界面</string>
	<key>RentDescriptionController</key>
	<string>租赁说明界面</string>
	<key>UserListViewController</key>
	<string>选择用户界面</string>
</dict>
</plist>
